.submitButton{
    margin-right: '10px' !important;
}

.logo {
    background-image: url("../../public/logo512.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    width: 150px;
    height: 50px;
}