.submitButton{
    margin-right: '10px' !important;
}

.logo {
    background-image: url("../../public/logo512.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    width: 150px;
    height: 50px;
}

.FormLogin{
    box-shadow: 0 0 250px #000;
  text-align: center;
  padding: 4rem 2rem;
}